@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #040404;
}

.skip-link {
    position: absolute;
    background-color: white;
    color: black;
    padding: 1em;
    top: -5em;

}

.subpage-skip-link {
    position: absolute;
    background-color: white;
    color: black;
    padding: 1em;
    top: -5em;
    z-index: 99999;

}

.skip-link:focus {
    transform: translateY(100%);
    top: -2em;
    left: 1em;
  }

.subpage-skip-link:focus {
    transform: translateY(100%);
    top: -2em;
    left: 1em;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.25em;
}

section {
    padding-left: 7vw;
    padding-right: 7vw;
}

.logo-text {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.5em;
}

a {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
}

.link-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.75em 2.5em 0.75em 2.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
}

.link-centered-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.75em 2.5em 0.75em 2.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.link-button:hover {
    background-color: white;
    color: black;
}

.link-centered-button:hover {
    background-color: white;
    color: black;
}


.nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5em;
}

.nav-toggle button {
    gap: 0.5em;
    justify-self: end;
}

.nav-toggle span {
    background-color: white;
    height: 0.2em;
    width: 2em;
    display: flex;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toggle.is-open span:nth-child(2) {
    opacity: 0;
}


.nav-toggle.is-open span:nth-child(1) {
    transform: translateY(0.7em) rotate(45deg);
}


.nav-toggle.is-open span:nth-child(3) {
    transform: translateY(-0.7em) rotate(-45deg);
}

.hero-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 95%, rgba(0.016, 0.016, 0.016, 1) 100%), url('../images/hero-image.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-breakpoint {
    height: 0;
    margin-bottom: -2em;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 7vw;
    padding-right: 7vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    isolation: isolate;
    background-color: transparent;
    transition: background-color 0.3s ease;
    align-items: center;
}

.header-nav-subpage {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 7vw;
    padding-right: 7vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    isolation: isolate;
    background-color: #040404;
    align-items: center;
}

.header-nav.is-open {
    background-color: #040404;
}

.header-nav.scrolled {
    background-color: #040404;
}



.nav-links-mobile {
    position: fixed; 
    background-color: #040404;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 60px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 5em;
}

.nav-links-mobile a {
    font-size: 2em;
}

.link-button-in-nav {
    font-size: 2em;
    border-radius: 60px;
    border: 1px solid white;
    padding: 0.5em 0.75em 0.5em 0.75em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.link-button-in-nav:hover {
    background-color: white;
    color: black;
}

.nav-links-mobile.is-open {
    opacity: 1;
    visibility: visible;
}

.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero-button-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    font-weight: 300;
    letter-spacing: 10%;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    font-weight: 300;
    letter-spacing: 10%;
    line-height: 1.5;
    font-size: 1.75em;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    font-weight: 300;
    letter-spacing: 10%;
    line-height: 1.5;
    font-size: 1.25em;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: white;
}

.reg-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.reg-centered-section {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline-text p {
    margin-top: 1em;
    padding-left: 5vw;
    padding-right: 5vw;
}

.tagline-text {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.25em;
    letter-spacing: 5%;
    font-weight: 100;
}

.heading-with-tagline {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading-with-tagline-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: right;
}

.heading-description {
    padding-top: 1em;
}

.impactful-para-and-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.impactful-para-and-cta a {
    width: 100%;
}

.impactful-mockup {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.impactful-mockup img {
    width: 80vw;
}

.nav-links-desktop {
    display: flex;
    gap: 3em;
    align-items: center;
}

.icon-svg {
    height: 42px;
    width: 42px;
}

.all-features-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.all-projects {
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    padding-left: 8vw;
    padding-right: 8vw;
}

.project-container-right img {
    width: 60vw;
}

.project-container-left img {
    width: 60vw;
}

.project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-container-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.project-info a {
    width: min-content;
}

.all-processes-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.process-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    padding-left: 8vw;
    padding-right: 8vw;
}

.info-img-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-description {
    display:flex;
    flex-direction: column;
    gap: 2em;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.img-container img {
    width: 50vw;
}

.mission-together {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url('../images/IMG_3010.JPG');
    background-position: center;     
  background-repeat: no-repeat;    
  background-size: cover; 
}

.heading-and-cta {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.site-footer {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer-cta {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-cta .link-button {
    width: min-content;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links-groups {
    display: flex;
    gap: 1em;
}

.links-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-heading {
    font-size: 1.25em;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sub-page-heading {
    margin-top: 6em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url('../images/hero-image.JPG');
    background-position: center;     
  background-repeat: no-repeat;    
  background-size: cover; 
}

.sub-page-heading h1 {
    margin-top: 0.3em;
}

.centered-heading {
    display: flex;
    justify-content: center;
}

.reg-subpage-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.reg-subpage-center-section {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}







@media (min-width: 950px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.125em;
    }

    a {
        font-size: 1.125em;
    }

    .nav-toggle {
        display: none;
    }
    .nav-links-mobile {
        display: none;
    }

    section {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .header-nav {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .header-nav-subpage {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .hero {
        padding-top: 350px;
        padding-bottom: 350px;
    }
    .hero-button-row {
        flex-direction: row;
    }

    .impactful-para-and-cta {
        flex-direction: row;
        gap: 6em;
    }

    .impactful-mockup img {
        width: 60vw;
    }

    .impactful-para-and-cta a {
        width: auto;
    }

    .reg-section {
        padding-top: 8.75em;
        padding-bottom: 8.75em;
    }

    .heading-description {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .features-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .process-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .feature-container {
        padding: 0;
        width: 20vw;
    }

    .process-container {
        padding: 0;
        width: 16vw;
        justify-content: flex-start;
    }

    .all-features-container {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .all-processes-container {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .reg-centered-section a {
        width: fit-content;
        align-self: center;
    }

    .all-projects {
        gap: 6em;
        padding-bottom: 6em;
    }
    
    .project-container-right img {
        width: 30vw;
    }
    
    .project-container-left img {
        width: 30vw;
    }

    .project-container-right {
        flex-direction: row;
        gap: 6em;
    }

    .project-container-left {
        flex-direction: row-reverse;
        gap: 6em;
    }


    .link-centered-button {
        width: min-content;
        margin-left: auto;
        margin-right: auto;
    }

    .info-img-container {
        flex-direction: row-reverse;
        gap:12em;
    }

    .img-container img {
        width: 30vw;
    }

    .info-description a {
        width: fit-content;
    }

    .heading-and-cta a {
        width: min-content;
        margin-left: auto;
        margin-right: auto;
    }

    .site-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 10vw;
        padding-right: 10vw;
        gap: 6em;
    }
    
    .footer-cta {
        width: 40vw;
    }
    
    .footer-links {
        width: 20vw;
    }
    
    .footer-contact-info {
        width: 20vw;
        
        gap: 1em;
    }

    .sub-page-heading {
        margin-top: 7.5em;
    }
}

@media (max-width: 950px) {
    .nav-links-desktop {
        display: none;
    }
}